.hero-swiper {
  .swiper-pagination {

    bottom: 32px !important;
    left: 72px !important;
    text-align: left;

    .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
      margin: 0 2px !important;

      &.swiper-pagination-bullet-active {
        width: 16px;
        border-radius: 4px;
      }
    }
  }
}