$white: #FFF;

$black: #333333;
$black-80: #7D7D7D;

$yellow: #FFD740;
$dark-yellow: #FFCA00;

$blue: #0E6CDD;
$dark-blue: #005CCC;
$dark-ultra-blue: #00479C;

$background-blue: #F1F6FD;

$border-radius: 6px;

$container: 1704px;
$padding-inline: 24px;

$transition-duration: 0.2s